In [10]:
import pandas as pd
df = pd.read_csv(r"G:\Udemy\DATA SCIENCE ineuron\VS Code\Internship_project_Bike_Share_Prediction\Data\Bike_Share_Day 2.csv")
df.shape

(731, 16)

In [11]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    object
 3   yr          731 non-null    int64
 4   mnth        731 non-null    object
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    object
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(8), object(4)
memory usage: 91.5+ KB

In [9]:
for col in df.columns:
    print(f"Unique records of {col} are {len(df[col].unique())}")
    print("="*50)

Unique records of instant are 731
==================================================
Unique records of dteday are 731
==================================================
Unique records of season are 4
==================================================
Unique records of yr are 2
==================================================
Unique records of mnth are 12
==================================================
Unique records of holiday are 2
==================================================
Unique records of weekday are 7
==================================================
Unique records of workingday are 2
==================================================
Unique records of weathersit are 3
==================================================
Unique records of temp are 499
==================================================
Unique records of atemp are 690
==================================================
Unique records of hum are 595
==================================================
Unique records of windspeed are 650
==================================================
Unique records of casual are 606
==================================================
Unique records of registered are 679
==================================================
Unique records of cnt are 696
==================================================

In [20]:
df.weathersit.unique()

array([2, 1, 3], dtype=int64)

In [11]:
df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [6]:
df1 = df.drop(['dteday','cnt'],axis=1)

In [7]:
df1

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
0,1,spring,2011,Jan,0,saturday,0,2,0.344167,0.363625,0.805833,0.160446,331,654
1,2,spring,2011,Jan,0,sunday,0,2,0.363478,0.353739,0.696087,0.248539,131,670
2,3,spring,2011,Jan,0,monday,1,1,0.196364,0.189405,0.437273,0.248309,120,1229
3,4,spring,2011,Jan,0,tuesday,1,1,0.200000,0.212122,0.590435,0.160296,108,1454
4,5,spring,2011,Jan,0,wednesday,1,1,0.226957,0.229270,0.436957,0.186900,82,1518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,spring,2012,dec,0,thursday,1,2,0.254167,0.226642,0.652917,0.350133,247,1867
727,728,spring,2012,dec,0,friday,1,2,0.253333,0.255046,0.590000,0.155471,644,2451
728,729,spring,2012,dec,0,saturday,0,2,0.253333,0.242400,0.752917,0.124383,159,1182
729,730,spring,2012,dec,0,sunday,0,1,0.255833,0.231700,0.483333,0.350754,364,1432
730,731,spring,2012,dec,0,monday,1,2,0.215833,0.223487,0.577500,0.154846,439,2290

In [25]:
[fea for fea in df.columns if df[fea].dtypes == 'O']

['dteday', 'season', 'mnth', 'weekday']

In [5]:
import pickle
import pandas as pd

In [6]:
df = pd.read_pickle(r"G:\Udemy\DATA SCIENCE ineuron\VS Code\Internship_project_Bike_Share_Prediction\saved_models\0\model\model.pkl")

LinearRegression()