In [1]:
import pandas as pd
df = pd.read_csv(r"G:\Udemy\DATA SCIENCE ineuron\VS Code\Internship_project_Bike_Share_Prediction\Data\Bike_Share_Day 2.csv")
df.shape

(731, 16)

In [2]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    object
 3   yr          731 non-null    int64
 4   mnth        731 non-null    object
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    object
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(8), object(4)
memory usage: 91.5+ KB

In [9]:
for col in df.columns:
    print(f"Unique records of {col} are {len(df[col].unique())}")
    print("="*50)

Unique records of instant are 731
==================================================
Unique records of dteday are 731
==================================================
Unique records of season are 4
==================================================
Unique records of yr are 2
==================================================
Unique records of mnth are 12
==================================================
Unique records of holiday are 2
==================================================
Unique records of weekday are 7
==================================================
Unique records of workingday are 2
==================================================
Unique records of weathersit are 3
==================================================
Unique records of temp are 499
==================================================
Unique records of atemp are 690
==================================================
Unique records of hum are 595
==================================================
Unique records of windspeed are 650
==================================================
Unique records of casual are 606
==================================================
Unique records of registered are 679
==================================================
Unique records of cnt are 696
==================================================

In [11]:
df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64